services:
  # app:
  #   build: .
  #   container_name: go-app
  #   ports:
  #     - "8080:8080"
  #   environment:
  #     APP_PORT: 8080
  #     DB_HOST: db
  #     DB_PORT: 5432
  #     DB_USER: app
  #     DB_PASS: app
  #     DB_NAME: app
  #   depends_on:
  #     - db 

  db:
    image: postgres:17
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    ports:
      - "5432:5432" 
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
